@import "tailwindcss";

:root {
  --font-primary: "Rubik", sans-serif;

  --white: #ffffff;

  --gray-100: #f7f8f9;
  --gray-300: #cbcbcb;
  --gray-500: #919191;
  --gray-900: #1d2226;

  --purple-100: #6c25ff4b;
  --purple-500: #6c25ff;
  --purple-600: #642af5;

  --pink-400: #e70b897b;
  --red-500: #dd4a3d;

  --overlay-light: rgba(0, 0, 0, 0.03);
}

.font-rubik{
  font-family: var(--font-primary);
}