@import "tailwindcss";

:root{
  --white: #ffffff;

  --gray-100: #f7f8f9;
  --gray-300: #cbcbcb;
  --gray-500: #919191;
  --gray-900: #1d2226;

  --purple-100: #6c25ff4b;
  --purple-500: #6c25ff;
  --purple-600: #642af5;

  --pink-400: #e70b897b;
  --red-500: #dd4a3d;
}

@theme {
  --font-rubik: "Rubik", sans-serif;

  --shadow-header: 0px 3px 6px #00000007;
}

body{
  font-family: "Rubik", sans-serif;
}

@layer components{
  button{
    width: 335px;
    height: 46px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  label{
    color: var(--purple-500);
    font-size: 13px;
  }

  input{
    width: 335px;
    height: 40px;
    border-radius: 6px;
    padding-left: 14px;
    border: 1px solid var(--gray-300);
    color: var(--gray-900);
    font-size: 14px;
    outline: none;

    &::placeholder{
      color: var(--gray-500);
    }

    &:active,&:focus{
      border-color: var(--gray-900);
    }
  }

  input[type='radio']{
    width: 22px;
    height: 22px;
    padding: 0;

    &:checked {
      outline: 1px solid var(--purple-600);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after{
        content: '';
        position: absolute;
        height: 12px;
        width: 12px;
        background-color: var(--purple-500);
        border-radius: 50%;
      }
    }
  }
  
}

@layer utilities{
  .absolute-img{
    position: absolute;
    bottom: 3px;
    right: -4px;
    z-index: 10;
    width: 21px;
    height: 23px;
  }
  
  .absolute-label{
    position: absolute;
    left: 14px;
    padding-inline: 5px;
    top: -10px;
    background-color: var(--gray-100);
  }
  
  .custom-dash{
    border-bottom: 1px dashed transparent;
    border-image: repeating-linear-gradient(
      to right,
      #CBCBCB 0 4px,
      transparent 4px 8px
    ) 1;
  }
}